doctype html
html(lang="en")
	head
		title Administrator


		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")


	body(background = "http://imgh.us/Prattle_Background.png")
		div.container(style = "position: aboslute; right: 0px;height:100%;width:482px;background:#03A9F4")
			div(align = "center" style = "color: #37474F;padding-top:0px")
				h1 Admin Creation

			div(align = "center" style = "color: #37474F; padding-top: 5px")
				p Create a new Administrator

			form.form-horizontal(method='post', action='/createadmin')
				div.form-group(align = "center" style = "padding-top:3px")
					label.col-sm-3.control-label(for="fName" style = "color:#37474F") Select a First Name
					div.col-sm-10
						input(type="text",name="fName", placeholder="Type first name here" style = "color: #01579B; font-weight: bold" required)

				div.form-group(align = "center" style = "padding-top:3px")
					label.col-sm-3.control-label(for="lName" style = "color:#37474F") Select a Last Name
					div.col-sm-10
						input(type="text",name="lName", placeholder="Type last name here" style = "color:#01579B; font-weight: bold" required)

				div.form-group(align = "center" style = "padding-top:3px")
					label.col-sm-3.control-label(for="mInitial" style = "color:#37474F") Select a Middle Initial
					div.col-sm-10
						input(type="text",name="mInitial", placeholder="Type middle initial here" style = "color:#01579B; font-weight: bold")

				div.form-group(align = "center" style = "padding-top:3px")
					label.col-sm-3.control-label(for="username" style = "color:#37474F") Select a Username
					div.col-sm-10
						input(type="text",name="username", placeholder="Type username here" style = "color:#01579B; font-weight: bold")

				div.form-group(align = "center" style = "padding-top:3px")
					label.col-sm-3.control-label(for="email" style = "color:#37474F") Enter a valid E-mail Address
					div.col-sm-10
						input(type="email",name="email", placeholder="Type email here" style = "color:#01579B; font-weight: bold" required )

				div.form-group(align = "center" style = "padding-top:3px")
					label.col-sm-3.control-label(for="password" style = "color:#37474F") Select a Password
					div.col-sm-10
						input(type="password",name="password", placeholder="Type Password here" style = "color#01579B; font-weight: bold" required)

				div.form-group(align = "center" style = "padding-top:3px")
					label.col-sm-3.control-label(for="confirmPassword" style = "color:#37474F") Re-Enter Password
					div.col-sm-10
						input(type="password" name="confirmPassword" placeholder="Re-Enter Passord" style = "color:#01579B; font-weight: bold" required)

				div.form-group(align = "center")
					p= errorDisplay
					button.btn.btn-default(type="submit", style = "color:#37474F") Submit 


		a(href='/AdminLogin') Login
