doctype html
html(lang = "en")
	head
		title = title
	body
		div.container
			form(method = "POST", action = "/createOrganization")
				p Organization Name 
					input(type ="text", name = "organization")
				p Admin Email:
					input(type = "email", name = "email")
				p Password:
					input(type = "password", name = "password")
				p Verify Password:
					input(type = "password", name = "verifyPassword")
				p 
					input(type = "submit")


		p "#{error}"
	
		if(organization)
			p  "#{organization.name} #{organization.email}"


