doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")

        title User Dashboard

    body(background-color="#eceff1")
        img(src="http://52.201.233.197/Dash_Header.png" style="width:100%")
        div.container
            h1=welcome
            p=message
            br
            a(href='/messages' style="background-color: #37474f; color: #eceff1; padding: 15px 40px; text-align: center; font-size: 16px; cursor: pointer") Messages
            br
            br
            a(href='/adminInfo' style="background-color: #37474f; color: #eceff1; padding: 15px 55px; text-align: center; font-size: 16px; cursor: pointer") Admin Info
            br
            br
            a(href='/orgInfo' style="background-color: #37474f; color: #eceff1; padding: 15px 27px; text-align: center; font-size: 16px; cursor: pointer") Organization Info
            br
            br
            br
            br
            a(href='/signout' style="background-color: #37474f; color: #eceff1; padding: 15px 49px; text-align: center; font-size: 16px; cursor: pointer") Logout
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")