doctype html
html(lang="en")
    head
        title Blueprint.js - Hello, World!

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body
        div.container
            h1 Blueprint.js

            p
                | This example illustrates how a simple web application in Blueprint.js that
                | use both <strong>GET</strong> and <strong>PUT</strong> verbs with either a
                | controller or view.

         

                form(method="POST", action = "/helloworld")
                    p Organization Name:
                        input(type = "text", name = "name")
                    p 
                        input(type = "submit")

            - if (name)
                p The POST method uses a controller to handle the action.

                blockquote Hello, #{name}! How are you doing?
